#map {
  width: 100%;
  height: ;
  background-color: grey;
}

#header {
  height: 8vh;
  background-color: #20346a;
  display: flex;
  align-items: center;
}

#logo {
  height: 66%;
  margin-left: 1vh;
}

#logo-text {
  height: 25%;
  /* margin-left: .5vh; */
}

#mapContainer {
  height: 92vh;
}
/* - - - modal styles - - - */
#modal-container {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: 0.85;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#close-modal-button{
    justify-self: center;
    align-self: center;
    text-align: center;
    z-index: 3;
    width: 25vw;
    margin-top: 15px;
    border-radius: 20px;
    border: solid white 1px;
    line-height: 60px;
    font-weight: 200;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
  }
#modal-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-sarif;
}

/* - - ^ modal styles ^ - - */
.button {
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  color: white;
  background-color:#6ec9e0;
  opacity: 0.85;
}
